.cpu_container{
    width:100%;
    height: 100%;
    /* background-color: #0A192F; */
    color:rgb(255, 255, 255);
    margin-top: 37px;
}
.cpu_container h1{
    text-align: center;
}
.cpu_internal_container{
    display:grid;
    grid-template-columns: 1fr 1fr ;
    grid-gap: 30px;
    margin-top: 30px;
}
.cpu_name{
    width: 100%;
    text-align: center;
    text-emphasis-color: red;
}
.cpu_box{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* width:500px; */
    background-color: #EAEAEA;
    margin-bottom: 50px;
    color:black;
    border-radius: 20px;
    width:100%;
    height:86%;
}
.cpu_chart{
    display: flex;
    align-items: center;
    justify-content: center;
    height:100%;
    width:100%;
}
/* h1{
    color: rgb(173, 166, 166);
} */