.dashboard_container{
    margin-top: 100px;
}
.dashboard_inner_container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* grid-template-areas: []; */
    grid-gap: 1.5rem;
}

/* Memory-container related CSS */
.Mem_container h2{
    width: 100%;
    display: block;
    text-align: center;
    /* transform: "translateX(-50%)", */
}
.Mem_container,.Disk_container,.IncTraffic_container,.OutTraffic_container{
    margin-left: 40px;
    margin-bottom: 40px;
    box-shadow: 4px 6px 10px grey;
    border-radius: 10px;
    padding-bottom: 30px;
}
.mem_piechart{
    display: flex;
    justify-content: center;
    align-items: center;
    /* transform: scale(0.7);
    transform-origin: center;  */
}

/* Disk Info container */
.Disk_container h2{
    text-align: center;
}
.Disk_container{
    margin-right: 50px;
}
.Disk_inner_container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
}
.Disk_box p{
    text-align: center;
    font-weight: bold;
}

/* Active_Connections_container */
.Active_connections_container table,.Active_connections_container th,.Active_connections_container td{
    font-size: 12px;
    border-spacing: 0;
    border-right: 1px solid rgb(167, 163, 163);
    text-align: center;
    font-family: sans-serif;
}
.Active_connections_container{
    box-shadow: 4px 6px 10px grey;
    height: 100%;
    margin-left: 40px;
    /* margin-bottom: 80px; */
    border-radius: 10px;
    padding: 20px 20px;
}
.Active_connections_container table{
    height: 100%;
    width: 100%;
}
.Table_row_content{
    padding: 12px 12px;
}
.Active_connections_header th{
    padding: 20px 9px;
}
.Active_connections_table{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.Table_row:nth-child(odd){
    background-color: whitesmoke;
}
.Table_row:nth-child(even){
    background-color: gainsboro;
}
thead{
    background-color: grey;
}
.Active_connections_text{
    padding-bottom: 14px;
    text-align: center;
}
.Table_row_content:nth-last-child(1){
    font-weight: bold;
}
.Table_row_content:nth-last-child(6){
    border-left: 1.5px solid rgb(167, 163, 163);
}