*{
    margin: 0;
}
.dashboard_container{
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
    margin-top: 50px;
    background-color:#12121C;
    /* color:white; */
    /* width: 100vw; */
}
.dashboard_inner_container{
    display:grid;
    grid-template-columns:1fr 1fr;
    margin-top: 78px;
}

.dashboard_container .change_btn{
    padding: 15px 56px;
    border:none;
    margin-bottom: 30px;
    box-shadow: 3px 4px 7px gray;
    border-radius: 10px;
    font-size: 16px;
}
.dashboard_container .change_btn:hover{
    background-color: white;
}

/* Memory-container related CSS */
.Mem_container h2{
    width: 100%;
    display: block;
    text-align: center;
    /* transform: "translateX(-50%)", */
}
.mem_text h1{
    margin-bottom: 80px;
    color:white;
}
.Disk_container,.Network_Traffic_Container{
    margin-left: 40px;
    margin-bottom: 40px;
    border-radius: 10px;
    padding-bottom: 30px;
    width: 100%;
    color:white;
}
.Mem_container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-left: 40px;
    margin-bottom: 40px;
    border-radius: 10px;
    padding-bottom: 30px;
    width: 500px;
    background-color: #12121C;
}
.mem_text{
    color:white;
}
.mem_piechart{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 350px;
    width: 50%;
    margin-left:-90px;
}

/* Disk Info container */
.Disk_container h1{
    text-align: center;
    margin-bottom: 50px;
}
.Disk_container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width:500px;
}
.Disk_inner_container{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.Disk_box p{
    text-align: center;
    font-weight: bold;
    margin-bottom: 20px;
}
