*{
    margin: 0;
}
.dashboard_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    background-color:#12121C;
    color:white;
    width: 100vw;
}
.dashboard_inner_container{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 40%;
}

.dashboard_container .change_btn{
    padding: 15px 56px;
    border:none;
    margin-bottom: 30px;
    box-shadow: 3px 4px 7px gray;
    border-radius: 10px;
    font-size: 16px;
}
.dashboard_container .change_btn:hover{
    background-color: white;
}

/* Memory-container related CSS */
.Mem_container h2{
    width: 100%;
    display: block;
    text-align: center;
    /* transform: "translateX(-50%)", */
}
.Disk_container,.Network_Traffic_Container{
    margin-left: 40px;
    margin-bottom: 40px;
    border-radius: 10px;
    padding-bottom: 30px;
    width: 100%;
}
.Mem_container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-left: 40px;
    margin-bottom: 40px;
    border-radius: 10px;
    padding-bottom: 30px;
    width: 100%;
    margin-top: -350px;
}
.mem_piechart{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 350px;
    width: 50%;
    margin-left:-90px;
}

/* Disk Info container */
.Disk_container h1{
    text-align: center;
    margin-bottom: 50px;
}
.Disk_container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.Disk_inner_container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap:40px;
}
.Disk_box p{
    text-align: center;
    font-weight: bold;
    margin-bottom: 20px;
}

/* Active_Connections_container */
.Active_connections_container table,.Active_connections_container th,.Active_connections_container td{
    font-size: 12px;
    border-spacing: 0;
    border-right: 1px solid rgb(167, 163, 163);
    text-align: center;
    font-family: sans-serif;
}
.Active_connections_container{
    height: 100%;
    margin-left: -10px;
    border-radius: 10px;
    padding: 20px 50px;
    color:black;
}
.Active_connections_container table{
    height: 100%;
    width: 100%;
}
.Table_row_content{
    padding: 12px 12px;
}
.Active_connections_header th{
    padding: 20px 9px;
}
.Active_connections_table{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.Table_row:nth-child(odd){
    background-color: whitesmoke;
}
.Table_row:nth-child(even){
    background-color: gainsboro;
}
thead{
    background-color: grey;
}
.Active_connections_text{
    color:white;
    padding-bottom: 30px;
    text-align: center;
}
.Table_row_content:nth-last-child(1){
    font-weight: bold;
}
.Table_row_content:nth-last-child(6){
    border-left: 1.5px solid rgb(167, 163, 163);
}
.dashboard_combined_container{
    display:flex;
    width:100vw;
}
