*{
margin: 0;
}
/* .dhcp_container{
    margin-top: 100px;
} */
.dhcp_container h1{
    text-align: center;
}
.dhcp_container label{
    font-weight: bold;
}
.dhcp_container input[type="text"], .dhcp_container input[type="number"], .dhcp_container select{
    border: none;
    box-shadow: 1px 2px 6px gray;
}
.dhcp_container h2{
    cursor:pointer;
}
.dhcp_container input[type="checkbox"] {
    accent-color: #3D8D7A; 
}
.dhcp_container p{
    color:#373A40;
}
.dhcp_checkbox input{
    margin-right: 10px;
} 
.dhcp_general_container,.dhcp_omapi_container,.dhcp_other_container,.dhcp_primary_container,.dhcp_server_container{
    margin: 20px 0;
    padding: 40px;
    box-shadow: 3px 4px 10px gray;
}
/* DHCP general setting */
.dhcp_internal_container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.dhcp_general_container{
    display:flex;
    flex-direction: column;
    width: 85%;
    align-items: center;
    justify-content: center;
}
.dhcp_internal_container input[type="text"]
{
    width: 94%;
    padding: 12px 23px;
    padding-left: 10px;
    font-size: 16px;
    margin: 12px 0;
    border-radius: 10px;
    /* border:1px solid black; */
}
.dhcp_internal_container input[type="text"]:focus{
    outline: none;
}
.dhcp_internal_container select{
    width: 100%;
    padding: 12px 23px;
    margin: 15px 0;
    font-size: 16px;
    padding-left: 10px;
    appearance: none;
    border-radius: 10px;
    color: grey;
}
.dhcp_internal_container select:focus{
    outline: none;
}

.dhcp_container h2{
    padding: 12px 23px;
    margin: 20px 0;
    background-color: black;
    color: white;
    text-align: center;
}
.dhcp_checkbox{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 26px;
}
.dhcp_checkbox label{
    padding-right: 30px;
}
.dhcp_checkbox p{
    padding-left: 30px;
}
.dhcp_select{
    width: 100%;
    margin-bottom: 25px;
}
.dhcp_text{
    width:100%;
    margin-bottom: 25px;
}
.dhcp_general_container .dhcp_checkbox p{
    margin-left: -20px;
    text-align:left;
    /* white-space: pre-line; */
}
.dhcp_general_container .dhcp_checkbox{
    justify-content: space-between;
    align-items: center;
}
/* Primary Address pool*/
.dhcp_primary_container{
    display:flex;
    flex-direction: column;
    width: 85%;
    align-items: center;
    justify-content: center;
}
.dhcp_primary_container input[type="number"]
{
    width: 94%;
    padding: 12px 23px;
    padding-left: 10px;
    font-size: 16px;
    margin: 12px 0;
    border-radius: 10px;
    border:1px solid black;
}
.dhcp_primary_container input[type="number"]:focus
{
    outline: none;
}
.dhcp_number{
    width: 100%;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    display: none; 
}
.dhcp_special_text{
    display: block;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
} 
 .dhcp_add_btn{
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    width:100%;
}
.dhcp_add_btn label{
    padding-bottom: 20px;
    padding-top:20px;
}
.dhcp_add_btn button{
    padding: 20px 23px;
    border-radius: 20px;
    border:none;
    color: aliceblue;
    font-size:15px;
    background-image: linear-gradient(to top right,#143D60,rgb(31, 150, 150));
    width: 50%;
    /* display: block; */
    /* margin:30px auto; */
    transition: transform 0.1s ease-in-out;
    box-shadow: 3px 5px 10px rgb(159, 157, 157);
}

.dhcp_add_btn button:hover{
    transform: scale(1.03); 
    cursor: pointer;
    background-color:rgb(32, 130, 130);
}

/* Server setting */
.dhcp_server_container{
    display:flex;
    flex-direction: column;
    width: 85%;
    align-items: center;
    justify-content: center;
}

/* OMAPI */
.dhcp_omapi_container{
    display:flex;
    flex-direction: column;
    width: 85%;
    align-items: center;
    justify-content: center;
}
.dhcp_omapi_container .dhcp_checkbox{
    padding-top: 30px;
    align-items: center;
    justify-content: center;
}
.dhcp_omapi_container .dhcp_checkbox label{
    font-weight: bold;
    padding-right: 12px;
}
.dhcp_omapi_container .dhcp_checkbox p{
    display: block;
}
.dhcp_container p {
    text-align: center;
}
/* other DHCP Setting */
.dhcp_other_container{
    display:flex;
    flex-direction: column;
    width: 85%;
    align-items: center;
    justify-content: center;
}
.dhcp_other_container input[type="number"]
{
    width: 94%;
    padding: 12px 23px;
    padding-left: 10px;
    font-size: 16px;
    margin: 12px 0;
    border-radius: 10px;
    /* border:1px solid black; */
}
.dhcp_other_container input[type="number"]:focus
{
    outline: none;
}
.dhcp_number{
    width: 100%;
}
.dhcp_other_container .dhcp_checkbox{
    padding-top: 20px;
    justify-content: space-between;
}
.dhcp_other_container .dhcp_checkbox p{
    margin-left: -20px;
}
.dhcp_btn{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 50px;
}
.dhcp_btn button{
    margin-left: 30px;
    padding: 18px 21px;
    border-radius: 10px;
    border:none;
    font-size: 15px;
    cursor: pointer;
    box-shadow: 3px 4px 10px grey;
    background-image: linear-gradient(to right bottom,rgb(33, 216, 216),rgb(80, 80, 176));
    font-weight: bold;
}
/* Button */
.dhcp_btn_container{
    display:flex;
    align-items: center;
    justify-content: center;
}
.dhcp_save_btn{
    padding: 25px 23px;
    width: 25%;
    background-color: #208237;
    border-radius: 20px;
    border:none;
    font-size: 17px;
    margin: 28px 30px;
    color:white;
    box-shadow: 7px 8px #1a3f23 ;
    cursor: pointer;
    transition: transform 0.1s ease-in-out;
}
.dhcp_save_btn:hover{
    background-color: #1c6d2f;
    transform: scale(0.9);
}

.dhcp_save_btn:disabled {
    opacity: 0.5; 
    cursor: not-allowed; 
}
/* Component styling */
.dhcp_comp_container{
    width: 100%;
    margin: 20px 50px;
}
.dhcp_comp_container label{
    display: inline-block;
    margin-top: 24px;
} 
.dhcp_comp_internal_container{
    display:flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}
.dhcp_comp_container button{
    margin-left: 30px;
    margin-bottom: 20px;
    padding: 18px 21px;
    border-radius: 10px;
    border:none;
    font-size: 15px;
    cursor: pointer;
    box-shadow: 3px 4px 10px grey;
    background-image: linear-gradient(to right bottom,rgb(33, 216, 216),rgb(80, 80, 176));
    font-weight: bold;
    float:right;
    width: 31%;
    text-align: center;
}
.internal_custom_dhcp_container{
    display: flex;
    flex-direction:row;
    gap: 40px;
}
.internal_custom_dhcp_container input[type="text"]{
    width: 85%;
    margin:15px 0;
}
.internal_custom_dhcp_container input[type="number"]{
    width: 85%;
    margin:15px 0;
}
.internal_custom_dhcp_container .dhcp_number{
   margin-bottom: 25px;
}
.internal_custom_dhcp_container button{
    margin-top: 33px;
    width: 100%;
}
.dhcp_delete_btn{
    display: flex;
    align-items: center;
    justify-content: center;
}
.dhcp_delete_btn button{
    background-color: #208237;
}