.container{
    display:flex;
    position: fixed; 
    top: 0; 
    width: 100%;
    justify-content: space-between;
    background-image: linear-gradient(to right,#333A40,#5b5c5d);
    color:white;
}
.box{
    display:flex;
    /* flex-direction: row-reverse; */
    justify-content: space-between;
}
.box li{
    list-style: none;
    padding: 12px 23px;
}
.box li a{
    text-decoration: none;
    color:white;
    font-size:17px;
}
.heading{
    padding: 12px 23px;
}