* {
    font-family: Arial, sans-serif;
    margin: 20px;
  }

  .suricata_section {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }

  .suricata-container label {
    /* display: block; */
    margin-bottom: 5px;
  }

  .suricata-container input[type="text"],.suricata-container
  select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #c6c4c4;
    box-sizing: border-box;
  }

  .suricata-container table {
    width: 100%;
    border-collapse: collapse;
  }

  .suricata-container th,
  .suricata-container td {
    border: 1px solid #ddd;
    padding: 8px;
  }

  /* .suricata-container th {
    background-color: #f4f4f4;
  } */

  .suricata-container button {
    background-color: rgb(23, 102, 207);
    color: white;
    width: 100px;
    height: 40px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  .suricata-container button:hover {
    background-color: rgb(15, 84, 175);
  }

  .suricata-container h1{
    color: white;
    background-color: black;
  }
  

  .suricata-navbar {
    background-color: #fff;
    padding: 10px;
    text-align: center;
  }
  
  .suricata-navbar ul {
    list-style-type: none;
    padding: 0;
  }
  
  .suricata-navbar li {
    display: inline;
    margin: 0 15px;
  }
  
  .suricata-navbar a {
    text-decoration: none;
    color: red;
    font-weight: bold;
  }
  
  .suricata-navbar a:hover {
    text-decoration: underline;
  }

  .suricata-navbar a:active{
    background-color: yellow;
  }



  .suricata-container .logs-container {
    padding: 20px;
  }
  
  .suricata-container table {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
  }
  
  .suricata-container th,.suricata-container td {
    border: 1px solid #ccc;
    padding: 8px 12px;
    text-align: left;
  }
  
  /* .suricata-container th {
    background-color: #f2f2f2;
  } */
  .suricata-container button:disabled {
    opacity: 0.5; 
    cursor: not-allowed; 
}
.outside_suricata_container{
  margin-top: 80px;
}